
.eventImage {
    float: left;
    margin-right: 1em;
}

.eventDetails {
    margin-top: 1em;
    vertical-align: top; 
    float: left;
}


.event-about {
    padding-top: 1em;
    clear: both;
}

mat-chip {
    font-size: smaller;
    height: 5px;
}