<app-dialog [title]="Event.ProfileName">
        <div class="eventImage">
            <img src="{{Event.getImageUrl(200,200)}}" alt="no image" width="200">
        </div>
        <div class="eventDetails">
            <mat-icon inline="true" aria-label="ID" matTooltip="event ID" matTooltipPosition="before">event
            </mat-icon> {{Event._id}}
            <br>
            <mat-icon inline="true" aria-label="date" matTooltip="Date" matTooltipPosition="before">
                calendar_today</mat-icon>
            {{Event.Begin | date: "MMM d, y HH:mm"}} - {{Event.End | date: "MMM d, y HH:mm"}}
            <br>
            <mat-icon inline="true" aria-label="venue" matTooltip="Venue" matTooltipPosition="before">
                location_on</mat-icon>
            {{Event.Building.ProfileName}}
            <br>
            <mat-icon inline="true" aria-label="city" matTooltip="Location" matTooltipPosition="before">
                location_city</mat-icon>
            {{Event.AddressContact.City}}, {{Event.AddressContact.AddressLine}} &nbsp;
            <a href="https://www.google.com/maps/search/?api=1&query={{Event.LonLat.Lat}},{{Event.LonLat.Lon}}"
                target="_blank">
                @{{Event.LonLat.Lat}},{{Event.LonLat.Lon}}
            </a>
            <br>
            <mat-icon inline="true" aria-label="author" matTooltip="Author" matTooltipPosition="before">
                supervisor_account</mat-icon>
            {{Event.Author.ProfileName}}
            <br>
            <br>
            <mat-chip-list cdkDropListOrientation="horizontal">
                <mat-chip *ngFor="let category of Event.Categories">
                    #{{category.Name}}
                </mat-chip>
            </mat-chip-list>
        </div>
    <div class="event-about">
        <p [innerHTML]="Event.AboutRichText"></p>
    </div>
</app-dialog>


<!-- <table >
    <tr>
        <td>

        </td>
        <td >

        </td>
    </tr>
</table> -->