<h2>
    <b>{{Title}}</b>
</h2>

<div class="eventsList" *ngIf="Events.length > 0; else noEvents">
    <div *ngFor="let event of Events" (click)="onEventSelect(event._id)" class="event">
        <div>
            <img src="{{event.getImageUrl(200,200)}}" alt="no image">
        </div>
        <div class="eventDescription">
            <span class="eventTitle">{{event.ProfileName}}</span>
            <br>
            <span class="eventMetaData">
                <mat-icon inline="true" aria-label="date">calendar_today</mat-icon>
                {{event.Begin | date: "MMM d, y HH:mm"}}
                <br>
                <mat-icon inline="true" aria-label="venue">location_on</mat-icon>
                {{event.Building.ProfileName}}
                <br>
                <mat-icon inline="true" aria-label="city">location_city</mat-icon>
                {{event.AddressContact.City}}
            </span>
        </div>
    </div>
</div>
<ng-template #noEvents>
    No events to display.
</ng-template>