@import 'src/app/shared/variables';

.eventsList {
    display: grid;  
    grid-gap: 1em;  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 2em;
}

.event{
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
    background-color: white;
    width: 280px;

    img {
        margin-top: 0.5em;
        width: 95%;
        height: 95%;
    }

    .eventTitle {
        font-size: 14px;
        font-weight: bolder;
    }
    
    .eventMetaData {
        font-size: 10px;

    }

    .eventDescription {
        padding: 0 0.5em;
    }
}


.event:hover{
    box-shadow: 10px 10px 15px rgb(200, 200, 200);
    outline: 1px solid rgb(200, 200, 200);
}


@media only screen and (max-width: $responsive-checkpoint) {
    
    .eventsList {
        padding-right: 14px;
        grid-gap: 0.2em; 
    }

    .event{

        width:100%;
        display: flex;
        text-align: left;
        padding: 0.5em 0.5em 0.5em 0.5em;
    
        .eventMetaData {
            br {
                display: none;
            }
        }

        .eventTitle {
            font-size: 14px;
            font-weight: normal;
        }
    
        img {
            width: 50px;
            height: 50px;
            margin-top: 0;
        }
    }
  }