<app-dialog [title]="'New event'">
    <div class="createForm">
        <h1>Basic info</h1>
        <mat-form-field class="wide-input">
            <mat-label>Event name</mat-label>
            <input matInput [(ngModel)]="event.ProfileName">
            <mat-error *ngIf="event.ProfileName.length < 3">Please enter a valid event name</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="wide-input">
            <mat-label>Picture URL</mat-label>
            <input matInput [(ngModel)]="event.ProfilePicture">
        </mat-form-field>
        <br>
        <mat-form-field class="mid-input">
            <mat-label>Event starts</mat-label>
            <input matInput type="datetime-local" placeholder="start date" [(ngModel)]="event.Begin">
        </mat-form-field>
        <mat-form-field class="mid-input">
            <mat-label>Event ends</mat-label>
            <input matInput type="datetime-local" placeholder="start date" [(ngModel)]="event.End">
        </mat-form-field>
        <br>
        <h2>Location</h2>

        <mat-form-field class="wide-input">
            <mat-label>Venue</mat-label>
            <input matInput type="text" [(ngModel)]="event.Building.ProfileName">
        </mat-form-field>
        <br>

        <mat-form-field class="wide-input">
            <mat-label>Street</mat-label>
            <input matInput type="text" [(ngModel)]="event.AddressContact.AddressLine">
        </mat-form-field>
        <br>

        <mat-form-field class="wide-input">
            <mat-label>City</mat-label>
            <input matInput type="text" [(ngModel)]="event.AddressContact.City">
        </mat-form-field>
        <br>

        <mat-form-field class="wide-input">
            <mat-label>Country</mat-label>
            <input matInput type="text" [(ngModel)]="event.AddressContact.Country">
        </mat-form-field>
        <br>

        <h2>About</h2>
        <mat-form-field class="wide-input">
            <mat-label>Author</mat-label>
            <input matInput type="text" [(ngModel)]="event.Author.ProfileName">
        </mat-form-field>
        <br>
        Categories
        <br>
        <mat-chip-list cdkDropListOrientation="horizontal" class="categories">
            <mat-chip *ngFor="let category of event.Categories" (click)="removeCategory(category.Name)">
                #{{category.Name}}
            </mat-chip>
        </mat-chip-list>
        <mat-form-field class="mid-input">
            <mat-label>#</mat-label>
            <input matInput type="text" [(ngModel)]="newCategory">
        </mat-form-field>
        <button mat-flat-button (click)="addCategory()">
            <mat-icon>add</mat-icon>
            Add
        </button>

        <mat-form-field appearance="fill" class="wide-input">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="event.AboutRichText"></textarea>
        </mat-form-field>
    </div>

    <mat-dialog-actions align="center">
        <button mat-stroked-button mat-dialog-close>Cancel</button>
        <button mat-stroked-button [mat-dialog-close]="event" color="Primary"
            [disabled]="!event.isValidToCreate()">Save</button>
    </mat-dialog-actions>

</app-dialog>