@import 'src/app/shared/variables';

.wide-input {
    width: 100%;
}

.mid-input {
    width: 45%;
    margin-right: 1em;
}

.createForm {
    width: 500px;
}

@media only screen and (max-width: $responsive-checkpoint) {
    .createForm {
        width: auto;
    }
}