<div class="transparent-overlay"></div>
<div class="dialog-main">
    <button mat-icon-button mat-dialog-close class="dialog-close">X</button>
    <h1 mat-dialog-title>{{title}}</h1>
    <div mat-dialog-content>
        <ng-content></ng-content>
    </div>
</div>