.dialog-main {
    z-index: 99999;
    position: relative;
}

.dialog-close {
    float: right;
    top:-24px;
    right:-24px;
}

.transparent-overlay
{
    z-index: 99998;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}