<div class="search-bar">

    <mat-form-field  appearance="outline">
        <mat-label>search</mat-label>
        <input matInput type="text" [(ngModel)]="QuickSearchKey" (ngModelChange)="quickSearch($event)" >
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="quickSearch('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="onEventCreate()">
        <mat-icon>add</mat-icon>
        <span class="addEventButtonLabel">Add event</span>
    </button>
</div>


<div *ngIf="FutureEvents.length > 0 && !QuickSearchKey">
    <app-events-list [Events]="FutureEvents" [Title]="'Upcoming events'" (EventSelected)="onEventSelect($event)">
    </app-events-list>
</div>
<div *ngIf="PastEvents.length > 0 && !QuickSearchKey">
    <app-events-list [Events]="PastEvents" [Title]="'Past events'" (EventSelected)="onEventSelect($event)">
    </app-events-list>
</div>

<div *ngIf="QuickSearchKey">
    <app-events-list [Events]="FilteredEvents" [Title]="'Filtered'" (EventSelected)="onEventSelect($event)">
    </app-events-list>
</div>