@import 'src/app/shared/variables';

.search-bar {
    // background-color: white;
    text-align: center;
    margin-bottom: 1em;

    width: 100%;

    display: inline-block;

    mat-form-field {
        width: 60%;
    }

    button {
        margin-top: 0.5em;
        margin-left: 1em;
    }
}

@media only screen and (max-width: $responsive-checkpoint) {
    .addEventButtonLabel {
        display: none;
    }
}