/* You can add global styles to this file, and also import other style files */
@import 'src/app/shared/variables';

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", 
    sans-serif; 
    background-color: rgb(245, 245, 245); 
}

@media only screen and (max-width: $responsive-checkpoint) {
    // .dialog .mat-dialog-container{
    //     width: 100%;
    //     border: 1px solid blue;
    // }
    .cdk-overlay-pane {
        pointer-events: auto;
        box-sizing: border-box;
        width: 95%;
        max-height: 100%;
    }
}